h1 {
    font-size: 25px;
    font-family: impact;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    font-family: impact;
    margin-top: 15px;
    margin-bottom: 15px;

}

main {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E5E5E5;
}

button {
	width: 100px;
	height: 50px;
}



.checkboxYesText {
    padding-top: 3px;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-default .navbar-nav > li, .allCategoriesContainer .list-group > li, .allPagesContainer .list-group > li{
    cursor: pointer;
}

.navbar-default .navbar-nav > li:hover, .allCategoriesContainer .list-group > li:hover {
    background-color: #eee;
}
