
h1 {
    font-size: 25px;
    font-family: impact;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    font-family: impact;
    margin-top: 15px;
    margin-bottom: 15px;

}




main {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E5E5E5;
 /*   position: relative;*/

}

button {
	width: 100px;
	height: 50px;
}



.checkboxYesText {
    padding-top: 3px;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar-default .navbar-nav > li, .allCategoriesContainer .list-group > li, .allPagesContainer .list-group > li{
    cursor: pointer;
}

.navbar-default .navbar-nav > li:hover, .allCategoriesContainer .list-group > li:hover {
    background-color: #eee;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 0;
    margin-top: 150px;
    background-color: #E5E5E5;
/*    position: absolute;*/
    height: 100px;
}

.contactUs {
    margin-left: 40px;
    padding-top: 5px;
}

.allInformation {
    margin: 10px 0 0 40px;
    font-weight: bold;
}
