h1 {
    font-size: 25px;
    font-family: impact;
    margin-top: 30px;
    margin-bottom: 30px;
}

main {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E5E5E5;
}

button {
	width: 100px;
	height: 50px;
}

.buttonCategory, .buttonPage, .pageAccept, .pageCancel {
	background-color: #00FF20;
	border: 2px solid black;	
}

.buttonCategory:hover, .buttonPage:hover, .pageAccept:hover, .pageCancel:hover {
	border: 2px solid white;
}

.checkboxYesText {
    padding-top: 3px;
}